body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(255, 236, 205);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    padding: 0 3%;
    border: solid 5px rgb(255, 208, 147);
    max-width: 50%;
}
.task {
    display: flex;
}
#newTask {
    width: 500px;
    min-width: max-content;
    height: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.task__btn,
.todo-list__btn,
.todo-task__del {
    background-color: rgb(255, 187, 187);
    height: 35px;
    border: rgb(255, 187, 187);
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.todo-list__btn {
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
}
.task__btn:hover,
.todo-list__btn:hover,
.todo-task__del:hover {
    background-color: rgb(255, 160, 160);
    border: rgb(255, 160, 160);
}

.task-list {
    padding: 10px 0 10px 0;
    display: flex;
}
.task-list__text {
    margin-left: 10px;
}

.todo__task {
    cursor: default;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.todo__task_complete .todo-task__text {
    text-decoration: line-through;
    color: rgb(0, 0, 0, 0.3);
}

.todo__checkbox {
    margin-right: 16px;
}
.todo__checkbox input {
    display: none;
}

.todo__checkbox input:checked + div::after {
    display: block;
}
.todo__checkbox div {
    width: 28px;
    height: 28px;
    border: 3px solid rgb(255, 187, 187);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
.todo__checkbox div::after {
    display: none;
    content: "✓";
    font-size: 23px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.todo-task__text {
    width: fit-content;
    font-size: 20px;
    max-width: 96%;
    word-break: break-all;
    margin: 1%;
}

.todo-task__del {
    margin-left: auto;
    margin-right: 0;
    height: auto;
    width: 25px;
    height: 23px;
    text-align: center;
}
@media (max-width: 767px) {
    #newTask {
        width: fit-content;
    }
    .wrapper {
        max-width: fit-content;
    }
}
@media (max-width: 414px) {
    .wrapper {
        border: none;
    }
}
